// Navbar.module.scss

.navbar {
    display: flex;
    z-index: 2;
    justify-content: space-between;
    padding: 1.5em;
   // background-color: #000000af;
    backdrop-filter: blur(7px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    background-color: rgba(12, 11, 11, 0.35);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    &-brand {
        margin: 0;
    }

    &-menu {
        display: flex;
        gap: 1em;

        &-item {
            text-decoration: none;
            color: inherit;
        }
    }

    @media (max-width: 600px) {
        flex-direction: column;

        &-menu {
            margin-top: 1em;
        }
    }
}
