// index.module.scss

// :global {
//   body {
//     margin: 0;
//     padding: 0;
//   }
// }

// Font Families
@font-face {
    font-family: 'Drexs';
    src: url('/fonts/drexs.otf') format('truetype');
}

@font-face {
    font-family: 'Heebo';
    src: url('/fonts/Heebo-Regular.ttf') format('truetype');
}



// Homepage Styling

.homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    //background: linear-gradient(to top, #1786d0, #a638d2);
    background-image: url("bg (2).jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    

}

.homepage2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    background: linear-gradient(to top, #1786d0, #a638d2);

}

.p {
    font-family: 'Drexs';
    
    
}

.paragraph {
    font-size: 15px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: bold;
    color: black;
}

.square {
    width: 500px;
    height: 500px;
    border-radius: 10%;
    background-color: rgba(12, 11, 11, 0.589);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Shadow effect */
    margin: 0 20px;
    text-align: center; /* Add this line */
    position: relative;
    margin-top: 75px;
    margin-bottom: 55px;
    z-index: 1;

}

.squareleft {
    width: 500px;
    height: 300px;
    border-radius: 20%;
    background-color: rgba(12, 11, 11, 0.589);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Shadow effect */
    margin: 0 20px;
    text-align: center; /* Add this line */
    vertical-align: center;
    position: relative;
    z-index: 1;

}

.rect {
    position: relative;
    width: 800px;
    height: 800px;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.387);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rect p {
    font-size: 24px; /* Adjust the font size as needed */
    margin: 20px; /* Add spacing around the paragraphs */
}


.h1 {
    text-align: left; /* Align text to the left */
    font-size: 75px;
    margin-bottom: 30px;
    color: rgb(0, 0, 0);
    margin-top: 30px;
    margin-left: 20px; /* Add margin to the left for spacing */
    font-family: 'Drexs';
    font-weight: bold;
}

.qubeh1 {
    text-align: center; /* Align text to the cneter */
    font-size: 90px;
    margin-bottom: 0px;
    color: rgb(255, 255, 255);
    margin-left: auto; /* Add margin to the left for spacing */
    font-family: 'Drexs';
    font-weight: bold;
    vertical-align: center;
    align-items: center;
    padding: 105px 0 105px;
}

.main{
   scroll-behavior: smooth;
}

.blinkingUnderscore {
    animation: blink 0.5s infinite; /* Change the animation duration */
}

@keyframes blink {
    0%, 100% {
        opacity: 0; /* Change visibility to opacity for smoother animation */
    }
    50% {
        opacity: 1;
    }
}
